@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies App</h1>
    <p>Save your favorite movies using this ASP.NET Web Application.</p>
    <p>Click <a href="/movies">here</a> to go to your movies list </p>
</div>
